<nav>
    <div class="left-nav">
        <div class="logo">
            <img src="/assets/images/logo.svg" alt="CampusOverflow logo">
            <a href="/home">Campus<span>Overflow</span></a>
        </div>
        <div class="nav-items">
            <a href="/home">Home</a>
            <a href="/home">About us</a>
            <a href="/home">Questions</a>
            <a href="/home">Reclamations</a>
        </div>
    </div>
    <div class="right-nav">

        <div class="input-container">
            <mat-icon class="input-icon">search</mat-icon>
            <input type="text" placeholder="Search for questions">
        </div>
        <button class="button-outline">Log in</button>
        <button class="button-filled">Sign up</button>
    </div>
</nav>
